<h1>{{ heroe.nombre }} <small>{{ heroe.aparicion }}</small></h1>

<hr>

<div class="row animated fadeIn fast"> 

    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.img">
        <br><br>        
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3 class="card-title">{{ heroe.nombre }}</h3>
        <hr>
        <p class="card-text">{{ heroe.bio }}</p>
        <div>
            <img src="./assets/img/dc-logo.jpg" class="img-logo" [alt]="heroe.casa" *ngIf="heroe.casa === 'DC'">
            <img src="./assets/img/marvel-logo.png" class="img-logo" [alt]="heroe.casa" *ngIf="heroe.casa === 'Marvel'">
        </div>
    </div>        
    
</div>